<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    
    <main>
        {{{body}}}
    </main>

    <footer>
        <a href="/dashboard/new">Create a New Post</a>
    </footer>
</body>

<script src="/js/logout.js"></script>

</html>